// Bring in all Compass Helpers as well as Tito's base style files
@import "partials/base";

// Redefine $sans variable for patterns only
$sans: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;

.page-width {
	min-width: 800px;
	max-width: 1400px;
}

#style-hdr {
	background: $black-90 image-url('bg-leather.png') 50% 50% repeat; 
	padding: 20px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	@include box-shadow(rgba(0, 0, 0, .35) 0 2px 11px);
	
	.style-logo {
		@include float(right);
		position: relative;
		margin-top: 6px;
		width: 120px;
	}
	
	.style-hdr-group {
		@extend .page-width;
		margin: 0 5%;
		@include pie-clearfix;
	}

	.style-page-h {
		font: bold 20px/120% $sans;
		color:#fff;
		margin: 10px 30px 0 0;
		letter-spacing: 0;
		float: left;
	}

	.style-page-h.thin,
	.style-page-h .thin {
		font-weight: normal;
	}

	.style-tabs {
		margin-top: 5px;
		float: left;
	}
	
	.style-tab {
		display: inline;
	}

	.style-tab > a {
		@include trans(.2s, color);
		color: #999;
		display: block;
		float: left;
		font: normal 12px $sans;
		padding: 10px 12px 11px;
		min-width: 70px;
		text-align: center;
		text-decoration: none;
		@include border-radius(4px);
		&:hover {
			color: #fff;
		}
	}

	.style-tab a.active,
	.style-tab a.active :hover {
		background-color: #000;
		color: #fff;
		font-weight: bold;
		border: none;
	}
} /* end style-hdr */

.style-body {
	@extend .page-width;
	padding: 55px;
	margin: 80px auto 0;
}

.style-container {
	font-family: $sans;
	margin: 0 0 40px 0;
}

.style-header {
	background-color: #333;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 16px;
	padding: 6px;
	text-shadow: 1px 0 0 #000000;
}
	
.style-node {
	border-top: 1px solid #CCCCCC;
	margin: 30px 0 0;
	padding: 30px 0 0;
	@include pie-clearfix;
}

.style-node .style-node-h {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	margin: -30px 0 30px 0;
	padding: 6px;
	background-color: #ededed;
}

.style-example {
	float: right;
	margin: 0 0 0 10px;
	padding: 10px 0;
	width: 58%;
	&.full {
		width: 100%;
	}
}

.style-meta-container {
	float: left;
	padding: 0 2% 0 1%;
	border-right: 1px solid #ccc;
	width: 40%;
}

dl, dt, dd {
	margin: 0;
	padding: 0;
}

.style-color {
	font: normal 24px/130% Miller,Georgia,Times,Times New Roman,serif;
}

.style-meta {
	padding: 10px 0;
	font-size: 12px;
}

.style-meta dt {
	font-weight: bold;
}

.style-meta dd {
	margin: 4px 0 12px;
	padding: 0 0 12px;
	border-bottom: 1px solid #ccc;
}

.style-meta dd:last-child {
	border-bottom: none;
}

.style-node-btn {
	a[class*="btn"] {
		display: block;
		margin: 0 auto 30px;
		max-width: 200px;
	}
	a[class*="btn-small"] {
		max-width: 130px;
	}
	a[class*="btn-large"] {
		max-width: 270px;
	}
}

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
// Code	
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.style-meta .code-snip {
	display: block;
	color: #666;
	background-color: #fff;
	textarea {
		width: 100%;
		min-height: 61px;
		background-color: transparent;
		overflow: visible;
		color:#666;
		font: normal 12px/130% $mono;
		border-color: #e5e5e5;
	}
	pre { 
		display: block; 
		background-color: #333; 
		max-height: 195px;
		overflow-y: scroll;
		white-space: pre;
		white-space: pre-wrap;
		word-wrap: break-word;
		 
		.nocode { background-color: none; color: #000 }
		.str { color: #ffa0a0 } /* string  - pink */
		.kwd { color: #f0e68c; font-weight: bold }
		.com { color: #ffa0a0 } /* comment - skyblue */
		.typ { color: #98fb98 } /* type    - lightgreen */
		.lit { color: #cd5c5c } /* literal - darkred */
		.pun { color: rgba(255, 255, 255, .35); }    /* punctuation */
		.tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
		.atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
		.atv { color: #87ceeb } /* attribute value - pink */
		.dec { color: #98fb98 } /* decimal         - lightgreen */
		.pln { color: rgba(255, 255, 255, .35); 
			&:first-child { width: 20px; height: 14px; @include inline-block;  }
		}    /* plaintext */
	}
	li:last-child .pln:first-child { 
		width: 0; 
		margin-top: 4px; }

	.highlight {
		color: rgba(179, 45, 71, 1.0);
	}
} // end .style-meta .code-snip


// Specify class=linenums on a pre to get line numbering
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
@for $i from 0 through 50 {
	li.L#{$i} {
		list-style-type: none;
	}
}	
// Alternate shading for lines
li.L1,li.L3,li.L5,li.L7,li.L9 { }


@media print {
  pre { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}